<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Order Detail</title>
</head>
<body>
	<div>
		<input type="button" id="btn_remove" value="Remove" />
		<div class="infobar" id="infomsg"></div>
	</div>
	<hr/>
	<div class="scrollTable">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Customer Name</th>
					<th>Post Name</th>
					<th>Tracking Number</th>
					<th>Shipping Fee</th>
					<th>Profit</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order:${orders}">
					<td><input type="checkbox" class="id"
						th:value="${order.get('order_id')}" /></td>
					<td class="customerName" th:text="${order.get('customerName')}"></td>
					<td class="postName" th:text="${order.get('postName')}"></td>
					<td class="tracking_number"
						th:text="${order.get('tracking_number')}"></td>
					<td class="shipping_fee" th:text="${order.get('shipping_fee')}"></td>
					<td class="profit" th:text="${order.get('profit')}"></td>
					<td class="date" th:text="${order.get('create_date')}"></td>
					<td><input type="button" class="btn_detail" value="Detail" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="popup" id="removeOrder">
		<form th:action="@{/removeOrder}" method="post">
			<p>Do you really want to Remove them ?</p>
			<input type="hidden" name="orderArray" /> <input type="submit" name="submit" value="Submit" />
		</form>
	</div>
	
	<div class="popup" id="itemsDetail">
		<table class="table table-striped">
		<thead>
			<tr>
				<td>Name</td>
				<td>Quantity</td>
				<td>Price</td>
				<td>Sold Price</td>
			</tr>
		</thead>
		<tbody id="dvb">
		</tbody>
		</table>
	</div>
	
	<script type="text/javascript" th:src="@{js/orderDetail.js}"></script>

</body>
</html>